<div id="account">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <!-- notice -->
        <div v-repeat="flash" v-attr="class: 'alert ' + status" role="alert" v-cloak>
          <button type="button" class="close" v-on="click: alertDismiss(this)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{notice}}
        </div>
        <!-- notice end -->
        <form action="/user/create" enctype="multipart/form-data" method="post" v-on="submit: create">
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
          <div class="login">
            <div class="form-group">
              <label class="control-label" for="username">User Name</label>
              <input class="form-control" id="username" type="text" name="username" placeholder="Input Login User Name" v-model="username" value="" autofocus required>
            </div>
            <div class="form-group">
              <label class="control-label" for="password">Password</label>
              <input class="form-control" id="password" type="password" name="password" placeholder="Input Login Password" v-model="password" value="" required>
            </div>
            <div class="form-group" v-class="has-error: has_confirm_error">
              <label class="control-label" for="password">Confirm Password</label>
              <input class="form-control" id="confirm" type="password" name="confirm" placeholder="Confirm Login Password" v-model="confirm" value="" required>
            </div>
            <div class="form-group clearfix">
              <div class="col-xs-3">
                <div class="avatar-box">
                  <span id="loadingIcon" class="glyphicon glyphicon-repeat spinner loading hidden"></span>
                  <img id="avatar" src="/images/unknown-avatar.png" alt="avatar">
                  <canvas id="tmpCanvas" width="120" height="120"></canvas>
                </div>
              </div>
              <div class="col-xs-9">
                <label class="control-label" for="avatar">Avatar Image</label>
                <input class="form-control" id="avatarFile" type="file" name="avatar" v-on="change: setAvatar">
              </div>
            </div>
            <button class="btn btn-primary" type="submit" v-class="disabled: has_error">Create</button>
          </div>  
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
</div>
</div>
