<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form action="/user/update/{{id}}" enctype="multipart/form-data" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" v-model="csrf">
        <div class="login">
          <div class="form-group">
            <label class="control-label" for="username">User Name</label>
            <input class="form-control" id="username" type="text" name="username" placeholder="Input Login User Name" v-model="username" v-attr="value: username" value="" autofocus required>
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="Input Login Password" v-model="password" value="" required>
          </div>
          <div class="form-group">
            <label class="control-label" for="password">New Password</label>
            <input class="form-control" id="password" type="password" name="new_password" placeholder="Input Login Password" v-model="new_password" value="">
          </div>
          <div class="form-group" v-class="has-error: has_error">
            <label class="control-label" for="password">Confirm New Password</label>
            <input class="form-control" id="confirm" type="password" name="confirm" placeholder="Confirm Login Password" v-model="confirm" value="">
          </div>
          <div class="form-group clearfix">
            <div class="col-xs-3">
              <div class="avatar">
                <img class="avatar" v-if="!hasAvatar(avatar)" src="/images/unknown-avatar.png" alt="avatar">
                <img class="avatar" v-if="hasAvatar(avatar)" v-attr= "src: '/file/' + avatar" alt="avatar">
              </div>
            </div>
            <div class="col-xs-9">
              <label class="control-label" for="avatar">Avatar Image</label>
              <input class="form-control" id="avatar" type="file" name="avatar">
            </div>
          </div>
          <button class="btn btn-primary" type="submit" v-class="disabled: has_error">Update</button>
          <a class="pull-right" href="/chat">Return chat</a>
        </div>  
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<% script('/js/user/app.js') -%>