html, body {
  height: 100%;
}
body {
  padding-top: 70px;
}

[v-cloak] {
  display: none;
}

.glyphicon.spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

.glyphicon.loading {
  color: #666;
  left: 27px;
  position: absolute;
  top: 27px;
}

.avatar-box {
  background-color: #f0f0f0;
  border-radius: 4px;
  color: #999;
  height: 68px;
  padding: 2px;
  position: relative;
  text-align: center;
  width: 68px;
}

.avatar,
#avatar {
  height: 64px;
  width: 64px;
}

#tmpCanvas {
  display: none;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 15px;
  }
  
  .navbar-fixed-bottom .navbar-form {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
  }
}

/* animation */
@-webkit-keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes glyphicon-spin-l {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes glyphicon-spin-l {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
